<h3 class="card_title mb-0px">View</h3>
<div class="form_wrapper text-left">
    <!-- {{ viewSingleEventData | json }} -->
    <!-- {{ calendarData | json }} -->
    <div class="row form_spacing" *ngIf="calendarData != undefined">
        <div class="col-md-6 form_spacing" *ngIf="calendarData.title != undefined">
            <label>Title</label>
            <p>{{ calendarData.title }}</p>
        </div>
        <div class="col-md-6 form_spacing" *ngIf="calendarData.description != undefined">
            <label>Description</label>
            <p>{{ calendarData.description }}</p>
        </div>
        <div class="col-md-6 form_spacing" *ngIf="calendarData.start != undefined">
            <label>Start Date</label>
            <p>{{ calendarData.start | date:'dd/MM/yyyy hh:mm a' }}</p>
        </div>
        <div class="col-md-6 form_spacing" *ngIf="calendarData.end != undefined">
            <label>End Date</label>
            <p>{{ calendarData.end | date:'dd/MM/yyyy hh:mm a' }}</p>
        </div>
    </div>
</div>
