<div class="card site_box_shadow pt-15px">

    <div class="row">
        <div class="col-md-6">
            <ul class="legend">
                <li>
                    <span class="event"></span>
                    Event
                </li>
                <li>
                    <span class="task"></span>
                    Task
                </li>
                <li>
                    <span class="reminder"></span>
                    Reminder
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="text-right pb-15px">
                <button class="site_btn orange_btn" (click)="openCreateEventModal(createEventModalTemplate)">Add Event</button>
                <button class="site_btn orange_btn" (click)="openCreateEventModal(createTaskModalTemplate)">Add Task</button>
                <button class="site_btn orange_btn" (click)="openCreateEventModal(createReminderModalTemplate)">Add Reminder</button>
            </div>
        </div>
    </div>

    <mwl-demo-utils-calendar-header
        [(view)]="view"
        [(viewDate)]="viewDate">
    </mwl-demo-utils-calendar-header>

    <div [ngSwitch]="view">
        <mwl-calendar-month-view
            *ngSwitchCase="'month'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
            *ngSwitchCase="'week'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
            *ngSwitchCase="'day'"
            [viewDate]="viewDate"
            [events]="events"
            [refresh]="refresh">
        </mwl-calendar-day-view>
    </div>
</div>

<!-- event modal -->
<ng-template #createEventModalTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <event-form
            (onAddData)="addDataToCalendar($event)"></event-form>
    </div>
</ng-template>
<!-- event modal -->

<!-- task modal -->
<ng-template #createTaskModalTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <task-form
            (onAddData)="addDataToCalendar($event)"></task-form>
    </div>
</ng-template>
<!-- task modal -->

<!-- reminder modal -->
<ng-template #createReminderModalTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <reminder-form
            (onAddData)="addDataToCalendar($event)"></reminder-form>
    </div>
</ng-template>
<!-- reminder modal -->

<!-- event modal -->
<ng-template #editEventModalTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <event-form
            [eventData]="eventData"
            (onUpdateData)="updateCalendarData($event)"></event-form>
    </div>
</ng-template>
<!-- event modal -->

<!-- task modal -->
<ng-template #editTaskModalTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <task-form
            [taskData]="taskData"
            (onUpdateData)="updateCalendarData($event)"></task-form>
    </div>
</ng-template>
<!-- task modal -->

<!-- reminder modal -->
<ng-template #editReminderModalTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <reminder-form
            [reminderData]="reminderData"
            (onUpdateData)="updateCalendarData($event)"></reminder-form>
    </div>
</ng-template>
<!-- reminder modal -->

<!-- view calendar event modal -->
<ng-template #viewCalendarTemplate>
    <button type="button" class="modal_close_btn" (click)="modalRef.hide()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
            <g id="close_ico" transform="translate(5001 500)">
                <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                    <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)" />
                </g>
            </g>
        </svg>
    </button>
    <div class="modal-body p-15px">
        <view-calendar
            [calendarData]="calendarData">
        </view-calendar>
        <button class="btn orange-btn save_btn" name="button" type="submit" (click)="modalRef.hide();">OK</button>
        <button class="btn orange-btn save_btn" name="button" type="submit" (click)="editCalendarModal()">Edit</button>
    </div>
</ng-template>
<!-- view calendar event modal -->
