<div class="row pt-30px">
    <div class="col-md-12">
        <form [formGroup]="individualCreateContactForm" (submit)="onSubmit($event, individualCreateContactForm.value)" #invdForm="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="card site_box_shadow p-0px no_shadow">
                        <h3 class="card_title">Personal Info</h3>
                        <div class="row form_spacing">
                            <div class="col-md-2">
                                <mat-form-field>
                                    <mat-select [errorStateMatcher]="matcher" placeholder="Title" formControlName="title">
                                        <mat-option value="Mr">Mr</mat-option>
                                        <mat-option value="Mrs">Mrs</mat-option>
                                        <mat-option value="Miss">Miss</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <input [errorStateMatcher]="matcher" type="text" matInput placeholder="First Name" formControlName="firstName" required />
                                    <mat-error *ngIf="individualCreateContactForm.get('firstName').hasError('required')">This field is required</mat-error>
                                    <mat-error *ngIf="individualCreateContactForm.get('firstName').hasError('pattern')">First name should be max 20 letter.</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input [errorStateMatcher]="matcher" type="text" matInput placeholder="Last Name" formControlName="lastName" />
                                    <mat-error *ngIf="individualCreateContactForm.get('lastName').hasError('pattern')">Last name should be max 20 letter.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form_spacing">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select [errorStateMatcher]="matcher" placeholder="Nationality" formControlName="nationality">
                                        <mat-option value="Indian">Indian</mat-option>
                                        <mat-option value="Others">Others</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <input class="text_uppercase" [errorStateMatcher]="matcher" matInput placeholder="PAN Card Number" formControlName="panCardNumber" />
                                    <mat-error *ngIf="individualCreateContactForm.get('panCardNumber').hasError('pattern')">Invalid pan card number</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form_spacing">
                            <div class="col-md-6">
                                <mat-form-field class="mat_datepicker" (click)="myDatepicker.open()">
                                    <input [errorStateMatcher]="matcher" matInput formControlName="dob" [matDatepicker]="myDatepicker" placeholder="Date Of Birth" [max]="maxDay" readonly />
                                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi="true" #myDatepicker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field>
                                    <mat-select [errorStateMatcher]="matcher" placeholder="Preferred Contact Mode" formControlName="contactType" required>
                                        <mat-option value="SMS">SMS</mat-option>
                                        <mat-option value="Email">Email</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="individualCreateContactForm.get('contactType').hasError('required')">This field is mandatory</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form_spacing">
                            <div class="col-md-12">
                                <mat-checkbox formControlName="ownAHouse">Own a House</mat-checkbox>
                            </div>
                        </div>
                        <div class="row form_spacing">
                            <div class="col-md-12">
                                <h3 class="card_subheading">Professional Info</h3>
                            </div>
                        </div>
                        <div class="row form_spacing">
                            <div class="col-md-12">
                                <div
                                    appInputExpand
                                    firstElement="sprofession"
                                    lastElement="sdepartment"
                                    firstNextElment="smProfession"
                                    otherField="sprofession_other_addresses"
                                    (collapsed)="joinUpdateVal($event, this.individualCreateContactForm, 'profession', this.individualCreateContactForm.controls.otherProfession)"
                                    id="sprofession_anm"
                                    class="address_expand">
                                    <mat-form-field class="adress_textarea">
                                        <textarea [errorStateMatcher]="matcher" formControlName="profession" id="sprofession" matInput placeholder="Profession">
                                        </textarea>
                                        <mat-error *ngIf="individualCreateContactForm.get('profession').hasError('required')">Invalid field professional info</mat-error>
                                    </mat-form-field>
                                    <div class="other_addresses" id="sprofession_other_addresses" formGroupName="otherProfession">
                                        <label>Profession</label>
                                        <div class="anm_top">
                                            <mat-form-field>
                                                <mat-select [errorStateMatcher]="matcher" placeholder="Profession" id="smProfession"
                                                    placeholder="Profession" formControlName="profession">
                                                    <mat-option value="Salaried">Salaried</mat-option>
                                                    <!-- <mat-option value="Government Employee">Government Employee</mat-option> -->
                                                    <mat-option value="Entrepreneur">Entrepreneur</mat-option>
                                                    <mat-option value="Retired">Retired</mat-option>
                                                    <mat-option value="Other">Other</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="anm_top" style="transition-delay: 0.05s;">
                                            <mat-form-field class="full-width">
                                                <input [errorStateMatcher]="matcher" id="sorganization" matInput placeholder="Organization" formControlName="organization" />
                                                <mat-error *ngIf="individualCreateContactForm.get('otherProfession').get('organization').hasError('pattern')">Organisation should be max 30 alphanumeric character</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="anm_top" style="transition-delay: 0.1s;">
                                            <mat-form-field class="full-width">
                                                <input [errorStateMatcher]="matcher" id="sdesignation" matInput placeholder="Designation" formControlName="designation" />
                                                <mat-error *ngIf="individualCreateContactForm.get('otherProfession').get('designation').hasError('pattern')">Designation should be max 20 alphanumeric character</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="anm_top" style="transition-delay: 0.15s;">
                                            <mat-form-field class="full-width">
                                                <input [errorStateMatcher]="matcher" id="sdepartment" matInput placeholder="Department" formControlName="department" />
                                                <mat-error *ngIf="individualCreateContactForm.get('otherProfession').get('department').hasError('pattern')">Department should be max 30 alphanumeric character</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card site_box_shadow p-0px no_shadow">
                        <h3 class="card_title">Contact</h3>
                        <div class="row">
                            <div class="col-md-12 form_spacing" [ngClass]="{'require': individualCreateContactForm.controls.contactType.value == 'SMS'}">
                                <multi-value #mobileIds [existRedirect]="false" [redirectUrl]="'view-contacts'" [contactType]="'1'" [update]="false" [firstKey]="'mobileNo'" [secondKey]="'isPrimaryMobile'" [type]="'mobile'" [max]="4"></multi-value>
                                <div class="error email_error" *ngIf="noContactType && individualCreateContactForm.controls.contactType.invalid && mobileIds.lists.length <= 0 && emailids.lists.length <= 0">Please select a contact type</div>
                                <div class="error email_error" *ngIf="mobileEmpty && mobileIds.lists.length <= 0">Atleast one mobile number is mandatory</div>
                            </div>
                            <div class="col-md-12 form_spacing">
                                <multi-value #landlines [update]="false" [firstKey]="'landLineNo'" [secondKey]="'isPrimaryLandLine'" [type]="'landline'" [max]="4"></multi-value>
                            </div>
                            <div class="col-md-12 form_spacing" [ngClass]="{'require': individualCreateContactForm.controls.contactType.value == 'Email'}">
                                <multi-value [existRedirect]="false" [redirectUrl]="'view-contacts'" [contactType]="'1'" #emailids [update]="false" [firstKey]="'emailId'" [secondKey]="'isPrimaryEmail'" [type]="'email'" [max]="4"></multi-value>
                                <div class="error email_error" *ngIf="noContactType && individualCreateContactForm.controls.contactType.invalid && mobileIds.lists.length <= 0 && emailids.lists.length <= 0">Please select a contact type</div>
                                <div class="error email_error" *ngIf="emailEmpty && emailids.lists.length <= 0">Atleast one email id is mandatory</div>
                            </div>
                            <div class="col-md-12 form_spacing">
                                <div
                                    appInputExpand
                                    firstElement="communication_address"
                                    lastElement="com_pincode"
                                    firstNextElment="com_building"
                                    otherField="com_other_addresses"
                                    (collapsed)="joinUpdateVal($event, this.individualCreateContactForm, 'comunicationAddress', this.individualCreateContactForm.controls.otherComAddress)"
                                    id="communicationAddress"
                                    class="address_expand" >
                                    <mat-form-field class="adress_textarea">
                                        <textarea [errorStateMatcher]="matcher" id="communication_address" matInput placeholder="Communication Address" formControlName="comunicationAddress">
                                        </textarea>
                                        <mat-error *ngIf="individualCreateContactForm.get('comunicationAddress').hasError('pattern')">Invalid Communication Address</mat-error>
                                    </mat-form-field>
                                    <div class="other_addresses" id="com_other_addresses" formGroupName="otherComAddress">
                                        <label>Communication Address</label>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <input [errorStateMatcher]="matcher" [errorStateMatcher]="matcher" id="com_building" matInput placeholder="Building" formControlName="building" />
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherComAddress').get('building').hasError('pattern')">Building Should be max 30 Alphanumeric Character</mat-error>
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherComAddress').get('building').hasError('required')">This field is required</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <input [errorStateMatcher]="matcher" [errorStateMatcher]="matcher" id="com_street_address" matInput placeholder="Street Address" formControlName="streetAddress" />
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherComAddress').get('streetAddress').hasError('pattern')">Street Address should be max 255 Alphanumeric Character</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="com_country"
                                                        matInput
                                                        placeholder="Country"
                                                        formControlName="country"
                                                        #communicationCountry
                                                        (change)="populateState(communicationCountry, 'communicationState', 'communicationCity', 'communicationLocation', 'communicationLocationMaster', 'individualCreateContactForm', 'otherComAddress', 'state', 'city', 'location')">
                                                        <mat-option value="">Select Country</mat-option>
                                                        <mat-option value="India">India</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="com_state"
                                                        matInput
                                                        placeholder="State"
                                                        formControlName="state"
                                                        #communicationStateInput
                                                        (change)="populateCity(communicationStateInput, 'communicationCity', 'communicationLocation', 'communicationLocationMaster', 'individualCreateContactForm', 'otherComAddress', 'city', 'location')">
                                                        <mat-option value="">Select State</mat-option>
                                                        <mat-option *ngFor="let i of communicationState" value="{{ i }}">{{ i }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="com_city"
                                                        matInput
                                                        placeholder="City"
                                                        formControlName="city"
                                                        #communicationCityInput
                                                        (change)="populateLocation(communicationCityInput, 'communicationLocation', 'communicationLocationMaster', 'individualCreateContactForm', 'otherComAddress', 'location')">
                                                        <mat-option value="">Select City</mat-option>
                                                        <mat-option *ngFor="let i of communicationCity" value="{{ i }}">{{ i }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="com_location"
                                                        formControlName="location"
                                                        matInput
                                                        placeholder="Location"
                                                        #communicationLocationInput
                                                        (change)="getLocationByName(communicationLocationInput, communicationCityInput, 'communicationLocationMaster')">
                                                        <mat-option value="">Select Location</mat-option>
                                                        <mat-option *ngFor="let i of communicationLocation" value="{{ i }}">{{ i }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <input [errorStateMatcher]="matcher" id="com_pincode" matInput placeholder="Pincode" formControlName="pincode" />
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherComAddress').get('pincode').hasError('pattern')">Invalid pincode</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 form_spacing">
                                <div
                                    appInputExpand
                                    firstElement="residential"
                                    lastElement="pincode"
                                    firstNextElment="building"
                                    otherField="other_addresses"
                                    (collapsed)="joinUpdateVal($event, this.individualCreateContactForm, 'residentialAddress', this.individualCreateContactForm.controls.otherResAddress)"
                                    id="residentialAddress"
                                    class="address_expand" >
                                    <mat-form-field class="adress_textarea">
                                        <textarea [errorStateMatcher]="matcher" id="residential" matInput placeholder="Residential Address" formControlName="residentialAddress">
                                        </textarea>
                                        <mat-error *ngIf="individualCreateContactForm.get('residentialAddress').hasError('required')">Invalid Residential Address</mat-error>
                                    </mat-form-field>
                                    <div class="other_addresses" id="other_addresses" formGroupName="otherResAddress">
                                        <label>Residential Address</label>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <input [errorStateMatcher]="matcher" id="building" matInput placeholder="Building" formControlName="building" />
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherResAddress').get('building').hasError('pattern')">Building Should be max 30 Alphanumeric Character</mat-error>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <input [errorStateMatcher]="matcher" id="street_address" matInput placeholder="Street Address" formControlName="streetAddress" />
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherResAddress').get('streetAddress').hasError('pattern')">Street Address should be max 255 Alphanumeric Character</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="country"
                                                        matInput
                                                        placeholder="Country"
                                                        formControlName="country"
                                                        value="India"
                                                        #residentialCountry
                                                        (change)="populateState(residentialCountry, 'residentialState', 'residentialCity', 'residentialLocation', 'residentialLocationMaster', 'individualCreateContactForm', 'otherResAddress', 'state', 'city', 'location')">
                                                        <mat-option value="">Select Country</mat-option>
                                                        <mat-option value="India">India</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="state"
                                                        matInput
                                                        placeholder="State"
                                                        formControlName="state"
                                                        #residentialStateInput
                                                        (change)="populateCity(residentialStateInput, 'residentialCity', 'residentialLocation', 'residentialLocationMaster', 'individualCreateContactForm', 'otherResAddress', 'city', 'location')">
                                                        <mat-option value="">Select State</mat-option>
                                                        <mat-option *ngFor="let i of residentialState" value="{{ i }}">{{ i }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="city"
                                                        matInput
                                                        placeholder="City"
                                                        formControlName="city"
                                                        #residentialCityInput
                                                        (change)="populateLocation(residentialCityInput, 'residentialLocation', 'residentialLocationMaster', 'individualCreateContactForm', 'otherResAddress', 'location')">
                                                        <mat-option value="">Select City</mat-option>
                                                        <mat-option *ngFor="let i of residentialCity" value="{{ i }}">{{ i }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <mat-select
                                                        [errorStateMatcher]="matcher"
                                                        id="location"
                                                        matInput
                                                        placeholder="Location"
                                                        formControlName="location"
                                                        #residentialLocationInput
                                                        (change)="getLocationByName(residentialLocationInput, residentialCityInput, 'residentialLocationMaster')">
                                                        <mat-option value="">Select Location</mat-option>
                                                        <mat-option *ngFor="let i of residentialLocation" value="{{ i }}">{{ i }}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row anm_top">
                                            <div class="col-md-6">
                                                <mat-form-field class="full-width">
                                                    <input [errorStateMatcher]="matcher" id="pincode" matInput placeholder="Pincode" formControlName="pincode" />
                                                    <mat-error *ngIf="individualCreateContactForm.get('otherResAddress').get('pincode').hasError('pattern')">Invalid pincode</mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="site_btn orange_btn" [disabled]="loading == true">Create<img *ngIf="loading == true" class="loader" src="assets/images/loader.gif" /></button>
            </div>
        </form>
    </div>
</div>
