.ang-switch {
    width: 35px;
    height: 20px;
    display: inline-block;
    border: solid 1px #95989A;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    span {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 1px;
        left: 1px;
        border-radius: 50%;
        background-color: #ddd;
        transition: 0.3s;
    }
    &.active {
        span {
            background-color: #2CB221;
        }
    }
    &.inactive {
        span {
            background-color: #D92727;
            left: calc(33px - 16px - 1px);
        }
    }
}
