// card start
.card {
    border: 0;
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    min-height: 100%;
    h3.card_title {
        font-size: 20px;
        color: #EA942C;
        margin: 0 0 15px;
    }
    h3.card_subheading {
        font-family: 'rhlight';
        font-size: 18px;
        color: #5F605F;
        margin: 0 0 5px;
    }
}
// card start
