<h3>Add Event</h3>
<form [formGroup]="createEventGroup" #createEvForm="ngForm" (submit)="createEvent()">
    <div class="form_wrapper text-left">
        <div class="row form_spacing">
            <div class="col-md-12">
                <mat-form-field class="full-width">
                    <input
                        [errorStateMatcher]="matcher"
                        type="text"
                        matInput
                        placeholder="Event Name"
                        formControlName="eventName"
                        required />
                    <mat-error *ngIf="createEventGroup.get('eventName').hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field class="full-width">
                    <input
                        [errorStateMatcher]="matcher"
                        type="text"
                        matInput
                        placeholder="Event Description"
                        formControlName="eventDescription"
                        required />
                    <mat-error *ngIf="createEventGroup.get('eventDescription').hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="mat_datepicker" (click)="myDatepicker.open()">
                    <input [errorStateMatcher]="matcher" matInput [min]="today" formControlName="startDate" [matDatepicker]="myDatepicker" placeholder="Start Date" readonly required/>
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker></mat-datepicker>
                    <mat-error *ngIf="createEventGroup.get('startDate').hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <timepicker formControlName="startTime" required></timepicker>
                <div class="error" *ngIf="createEventGroup.get('startTime').hasError('required') && showError == true">Field is invalid</div>
            </div>
            <div class="col-md-6">
                <mat-form-field class="mat_datepicker" (click)="myDatepicker1.open()">
                    <input [errorStateMatcher]="matcher" matInput [min]="createEventGroup.get('startDate').value" formControlName="endDate" [matDatepicker]="myDatepicker1" placeholder="End Date" readonly required/>
                    <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                    <mat-datepicker #myDatepicker1></mat-datepicker>
                    <mat-error *ngIf="createEventGroup.get('endDate').hasError('required')">This field is required</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <timepicker formControlName="endTime" required></timepicker>
                <div class="error" *ngIf="createEventGroup.get('endTime').hasError('required') && showError == true">Field is invalid</div>
            </div>
        </div>
    </div>
    <button class="site_btn orange_btn" name="button" type="submit">{{ updateMode == false ? 'Create' : 'Update' }}</button>
</form>
