a {
    transition: 0s;
}
ul {
    li {
        a.nav_title {
            display: inline-block;
            font-size: 16px;
            background-image: url(../../../../assets/images/icons/closed_folder.svg);
            background-size: 18px;
            background-position: left 5px;
            background-repeat: no-repeat;
            padding: 3px 0 3px 25px;
        }
        ul {
            // display: none;
            li {
                padding-left: 25px;
                .nav_click {
                    left: 25px;
                }
            }
        }
        &.focused {
            & > a.nav_title {
                background-image: url(../../../../assets/images/icons/opened_folder.svg);
            }
            & > ui-tree {
                & > ul {
                    display: block;
                }
            }
        }
        &.noChild {
            a.nav_title {
                background-image: url(../../../../assets/images/icons/file.svg);
            }
        }
        &.closed {
            a.nav_title {
                background-image: url(../../../../assets/images/icons/closed_folder.svg);
            }
        }
    }
}
ul {
    & > li {
        margin-bottom: 8px;
    }
}
li {
    position: relative;
}
.delete_nav {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin-left: 3px;
    padding: 8px;
    vertical-align: middle;
    img {
        display: block;
    }
}
.nav_click {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 26px;
    cursor: pointer;
}
