.choosen_file {
    display: inline-block;
    background-color: #f1f1f1;
    border: solid 1px #f1f1f1;
    position: relative;
    line-height: normal;
    padding-right: 25px;
    span {
        display: inline-block;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 5px;
        font-family: Arial;
        padding: 4px 7px 1px;
    }
    button {
        width: 25px;
        height: 25px;
        padding: 5px;
        border: 0;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }
    img {
        display: block;
        pointer-events: none;
    }
}
.delete_doc {
    cursor: pointer;
    padding: 11px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    float: right;
    img {
        pointer-events: none;
        display: block;
    }
}
