<div>
    <div class="relative">
        <form [formGroup]="createDocumentForm" (submit)="createDocument()">
            <input type="file" class="d-none" id="documentFile" (change)="browseDocumentFile($event)" />
            <div class="row">
                <div class="col-md-8">
                    <mat-form-field>
                        <input type="text"
                            matInput
                            placeholder="Enter file name"
                            name="fileName"
                            [errorStateMatcher]="matcher"
                            maxlength="25"
                            formControlName="documentName" />
                        <mat-error *ngIf="createDocumentForm.get('documentName').hasError('required')">This field is required</mat-error>
                    </mat-form-field>
                    <div class="choosen_file" *ngIf="createDocumentForm.get('uploadedDocName').value != ''">
                        <span>{{ createDocumentForm.get("uploadedDocName").value }}</span>
                        <button type="button" (click)="removeFile()">
                            <img src="assets/images/garbage.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <label class="site_btn orange_btn" for="documentFile" *ngIf="createDocumentForm.get('uploadedDocName').value == ''">Browse</label>
                    <button [disabled]="uploading == true" type="submit" class="site_btn orange_btn" *ngIf="createDocumentForm.get('uploadedDocName').value != ''">Upload<img *ngIf="uploading == true" class="loader" src="assets/images/loader.gif" /></button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row border-bottom pt-15px pb-15px" *ngFor="let i of documents; let inds = index">
    <div class="col-md-8">
        <label class="" for=""><strong>MOA</strong></label>
        <p class="orange-text underline">{{i.uploadedDoc}}</p>
        <input type="hidden" id="documentId" name="documentId" value="{{i.documentId}}">
    </div>
    <div class="col-md-4 text-right">
        <button type="button" (click)="deleteDocument(i)" [disabled]="deleting == true" class="delete_doc"><img src="assets/images/garbage.svg" alt=""></button>
    </div>
</div>

<div class="modal fade add-contact-success-modal" bsModal #childModal="bs-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <button type="button" class="modal_close_btn" (click)="childModal.hide()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
                    <g id="close_ico" transform="translate(5001 500)">
                        <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                            <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)"/>
                        </g>
                    </g>
                </svg>
            </button>
            <div class="modal-body p-15px">
                <button class="btn orange-btn save_btn" name="button" type="submit" (click)="childModal.hide();">OK</button>
            </div>
        </div>
    </div>
</div>
