<div class="row pt-20px border-bottom">
    <div class="col-md-6">
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker1" placeholder="From" />
            <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker1></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field>
            <input matInput [matDatepicker]="myDatepicker2" placeholder="To" />
            <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker2></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="full-width">
            <input matInput placeholder="Amount" />
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <button type="button" name="button" class="btn orange-border-btn save_btn">Save</button>
    </div>
</div>
<div class="row pt-15px finance_status">
    <div class="col-md-12">
        <ul class="outer_list">
            <li>
                <ul class="inline-block">
                    <li><img src="assets/images/icons/finance_paid_disabled.svg" alt=""></li>
                    <li>January</li>
                    <li> Rs 40,000</li>
                    <li class="paid">Paid Online</li>
                </ul>
            </li>
            <li>
                <ul class="inline-block">
                    <li><img src="assets/images/icons/finance_paid.svg" alt=""></li>
                    <li>January</li>
                    <li> Rs 40,000</li>
                    <li class="paid">Paid Online</li>
                </ul>
            </li>
            <li>
                <ul class="inline-block">
                        <li><img src="assets/images/icons/finance_due.svg"  alt=""></li>
                    <li>January</li>
                    <li> Rs 40,000</li>
                    <li>
                        <div class="add-payment">
                            <button type="button" name="button" class="orange-border-btn save_btn add-payment-btn"  (click) = "showHide=!showHide">{{val}}</button>
                            <ul class="add-payment-dropdown" *ngIf="showHide">
                                <li (click) = "changeText('Paid Online')">Paid Online</li>
                                <li (click) = "changeText('Auto Debited')">Auto Debited</li>
                                <!-- <li (click) = "changeText('Paid By Credit card')">Paid By Credit Card</li> -->
                                <!-- <li (click) = "changeText('Paid By Cheque')">Paid By Cheque</li>
                                <li (click) = "changeText('Paid By Bank')">Paid By Bank</li> -->
                            </ul>
                        </div>

                    </li>
                </ul>
            </li>
            <li>
                <ul class="inline-block">
                        <li><img src="assets/images/icons/finance_alert.svg"  alt=""></li>
                    <li>January</li>
                    <li> Rs 40,000</li>
                    <li>
                        <div class="add-payment">
                            <button type="button" name="button" class="orange-border-btn save_btn add-payment-btn"  (click) = "showHide2=!showHide2">{{val2}}</button>
                            <ul class="add-payment-dropdown" *ngIf="showHide2">
                                <li (click) = "changeText('Paid Online')">Paid Online</li>
                                <li (click) = "changeText('Auto Debited')">Auto Debited</li>
                                <!-- <li (click) = "changeText2('Paid By Cash')">Paid By Cash</li>
                                <li (click) = "changeText2('Paid By Cheque')">Paid By Cheque</li>
                                <li (click) = "changeText2('Paid By Bank')">Paid By Bank</li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
