<mat-form-field class="full-width search_field">
    <input matInput [(ngModel)]="queryString" name="queryString" />
    <mat-placeholder>Search by <strong>Field Name / Action / Email</strong></mat-placeholder>
</mat-form-field>
<ul class="history_list">
    <li *ngFor="let i of historyData">
        <div class="row">
            <div class="col-md-8 history_left">
                <h3>{{ i.type }}</h3>
                <p>Value Before <span>{{ i.valueBefore }}</span>&nbsp;&nbsp;&nbsp;&nbsp;Value After <span>{{ i.valueAfter }}</span></p>
            </div>
            <div class="col-md-4 history_right text-right">
                <p>{{ i.date }}<br />By <span>{{ i.createdBy }}</span></p>
            </div>
        </div>
    </li>
</ul>
