<form [formGroup]="createNotesForm" (submit)="createNotes()" #createNoteForm="ngForm">
    <div class="type_note_control">
        <mat-form-field>
            <textarea
                matInput
                placeholder="Type your note here ( Max 500 char )"
                name="notes"
                [errorStateMatcher]="matcher"
                maxlength="500"
                formControlName="notes"></textarea>
                <mat-error *ngIf="createNotesForm.get('notes').hasError('required')">This field is required</mat-error>
        </mat-form-field>
    </div>
    <div class="pb-20px text-right">
        <button type="submit" name="button" [disabled]="loading == true" class="site_btn orange_btn">Save<img *ngIf="loading == true" class="loader" src="assets/images/loader.gif" /></button>
    </div>
</form>
<div class="note_card">
    <div class="note_card_each" *ngFor="let i of notes">
        <!-- <button type="button" (click)="deleteNote(i)"><img src="assets/images/garbage.svg" /></button> -->
        <div class="note_card_title align-items-center">
            <div class="note_author_pic">
                {{ userData.userName[0] }}
            </div>
            <div class="note_author">
                <h4>{{ userData.userName }}</h4>
                <p><span>{{ i.createdTime | date:'dd-MM-yyyy' }}</span> {{ i.createdTime | date:'hh:mm a' }}</p>
            </div>
        </div>
        <div class="note_card_description">
            <p>{{ i.notesValue }}</p>
        </div>
    </div>
</div>
