.multi_field_form {
	position: relative;
	.add_btn {
		position: absolute;
	    top: 6px;
	    right: 0;
	    width: 30px;
	    height: 30px;
	    padding: 0;
	    font-size: 0;
	    border: 0;
	    background-color: transparent;
    	padding: 7px;
    	cursor: pointer;
    	&[disabled] {
    		filter: grayscale(100%);
    	}
	}
}
.multi_field_listing {
    margin-bottom: 10px;
	li {
		display: inline-block;
	    background-color: #F4F4F4;
	    padding: 3px 10px;
	    border-radius: 6px;
	    font-size: 13px;
	    color: #4B4B4B;
	    font-family: Arial;
	    font-weight: bold;
	    margin-right: 5px;
		margin-bottom: 5px;
	    &.isClickable {
	    	cursor: pointer;
	    	&:hover {
	    		background-color: #e6e6e6;
	    	}
	    }
		.val {
			display: inline-block;
		}
		.has_star {
			color: #FCAF17;
		}
		.remove_btn {
			display: inline-block;
		    background-color: transparent;
		    border: 0;
		    cursor: pointer;
		    width: 20px;
		    padding: 5px;
		    height: 20px;
		    img {
		    	display: block;
		    }
		}
	}
}
.modal{
    text-align: center;
    padding: 0!important;
    .modal-dialog{
        width:30%;
        display: inline-block;
        vertical-align: middle;
    }
    &:before{
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    &.add-contact-success-modal{
        .modal-dialog{
            width:20%;
            padding: 1em;
            display: inline-block;
            vertical-align: middle;
            p{
                padding-bottom: 1em;
                font-size: 18px;
                font-weight: normal;
            }
        }
    }
}
:host ::ng-deep {
	.primary{
		display: inline-block;
	    width: 20px;
	    vertical-align: middle;
	    cursor: pointer;
		position: relative;
    	top: -2px;
		svg {
			display: block;
		}
		.cls-1 {
			fill: transparent;
		}
		path {
			fill: #d8d8d8;
		}
		&.isPrimary {
			path {
				fill: #FCAF17;
			}
		}
	}
}
