<form #createUserForm="ngForm" class="multi_field_form">

	<div *ngIf="this.type == 'email'">
		<mat-form-field>
			<input matInput type="text" placeholder="Email ID" #inputCtrl="ngModel" (keyup)="0" (keyup)="hidealerts()" [(ngModel)]="inputCtrlModel" name="inputName" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
			<mat-error *ngIf="createUserForm.form.invalid">Invalid Email Id</mat-error>
		</mat-form-field>
	</div>

	<div *ngIf="this.type == 'mobile'">
		<mat-form-field>
			<input matInput type="text" placeholder="Mobile Number" #inputCtrl="ngModel" (keyup)="0" (keyup)="hidealerts()" [(ngModel)]="inputCtrlModel" name="inputName" pattern="[0-9]{10}" />
			<mat-error *ngIf="createUserForm.form.invalid">Invalid Mobile Number</mat-error>
		</mat-form-field>
	</div>

    <div *ngIf="this.type == 'landline'">
		<mat-form-field>
			<input matInput type="text" placeholder="Land Line" #inputCtrl="ngModel" (keyup)="0" (keyup)="hidealerts()" [(ngModel)]="inputCtrlModel" name="inputName" pattern="[0-9]{10,15}" />
			<mat-error *ngIf="createUserForm.form.invalid">Invalid Land Line</mat-error>
		</mat-form-field>
	</div>

	<div *ngIf="this.type == 'none'">
		<mat-form-field>
			<input matInput type="text" placeholder="Enter" #inputCtrl="ngModel" (keyup)="0" (keyup)="hidealerts()" [(ngModel)]="inputCtrlModel" name="inputName" maxlength="15" />
		</mat-form-field>
	</div>

	<button type="button" class="add_btn" *ngIf="toUpdateObj[firstKey] == undefined" (click)="addorUpdateEmail(inputCtrl.value)" [disabled]="createUserForm.form.invalid || inputCtrlModel == '' || loading == true">
		<img src="assets/images/icons/plus_ico_yellow.svg" *ngIf="loading == false" alt="icons" />
		<img src="assets/images/ajaxloader.gif" alt="icons" *ngIf="loading == true" />
	</button>

	<button type="button" class="add_btn" *ngIf="toUpdateObj[firstKey] != undefined" (click)="updateEmail(inputCtrl.value)" [disabled]="createUserForm.form.invalid || inputCtrlModel == ''">
		<img style="display: block;width: 100%;" src="assets/images/icons/tick.svg" *ngIf="loading == false" alt="icons" />
		<img src="assets/images/ajaxloader.gif" alt="icons" *ngIf="loading == true" />
	</button>

</form>

<div class="error email_error" *ngIf="alreadyExistInList == true">Already exist in your list</div>
<div class="error email_error" *ngIf="maxNumberExceeds == true">Maximum number exceeds</div>
<div class="error email_error" *ngIf="alreadyExistInDb == true">Already exist in datatabse</div>

<ul *ngIf="lists.length > 0" class="multi_field_listing">
    <li *ngFor="let i of lists; let index = index" [ngClass]="{'isClickable': update == true}">
		<span *ngIf="this.type != 'none'" (click)="makePrimary(index)" class="primary" [ngClass]="{'isPrimary':i[secondKey] && i[secondKey] == true, 'isNotPrimary':i[secondKey] && i[secondKey] != true}" [inlineSVG]="'assets/images/icons/star.svg'"></span>
    	<span (click)="updateClick(inputCtrl.value, i)" class="val">{{ i[firstKey] }}</span>
    	<!-- <span *ngIf="i[secondKey] && i[secondKey] == true" class="has_star">*</span> -->
    	<button (click)="deleteEmail(i, index)" class="remove_btn"><img src="assets/images/icons/close_ico.svg" alt="close" /></button>
    </li>
</ul>

<div class="modal fade add-contact-success-modal" bsModal #existModal="bs-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <button type="button" class="modal_close_btn" (click)="existModal.hide()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="5001 500 16 16">
                    <g id="close_ico" transform="translate(5001 500)">
                        <g id="Group_51" data-name="Group 51" transform="translate(0 0)">
                            <path id="Path_66" data-name="Path 66" class="cls-1" d="M9.517,7.517a.667.667,0,0,0,0,.966l6.276,6.276a.667.667,0,0,1,0,.966l-.069.069a.667.667,0,0,1-.966,0L8.483,9.517a.667.667,0,0,0-.966,0L1.241,15.793a.667.667,0,0,1-.966,0l-.069-.069a.667.667,0,0,1,0-.966L6.483,8.483a.667.667,0,0,0,0-.966L.207,1.241a.667.667,0,0,1,0-.966L.276.207a.667.667,0,0,1,.966,0L7.517,6.483a.667.667,0,0,0,.966,0L14.759.207a.667.667,0,0,1,.966,0l.069.069a.667.667,0,0,1,0,.966Z" transform="translate(0 0)"/>
                        </g>
                    </g>
                </svg>
            </button>
            <div class="modal-body p-15px">
                <p>Contact already exist in Franchise Records.</p>
            	<a [routerLink]="[existRedirectUrl]" class="btn orange-btn save_btn">View Contact</a>
            	<button class="btn orange-btn save_btn" type="button" (click)="existModal.hide();">OK</button>
            </div>
        </div>
    </div>
</div>
