@font-face {
    font-family: 'rhregular';
    src: url('../fonts/rh/RaineHorneRegular.eot');
    src: url('../fonts/rh/RaineHorneRegular.eot') format('embedded-opentype'),
         url('../fonts/rh/RaineHorneRegular.woff2') format('woff2'),
         url('../fonts/rh/RaineHorneRegular.woff') format('woff'),
         url('../fonts/rh/RaineHorneRegular.ttf') format('truetype'),
         url('../fonts/rh/RaineHorneRegular.svg#RaineHorneRegular') format('svg');
}

@font-face {
    font-family: 'rhlight';
    src: url('../fonts/rh/RaineHorneLight.eot');
    src: url('../fonts/rh/RaineHorneLight.eot') format('embedded-opentype'),
         url('../fonts/rh/RaineHorneLight.woff2') format('woff2'),
         url('../fonts/rh/RaineHorneLight.woff') format('woff'),
         url('../fonts/rh/RaineHorneLight.ttf') format('truetype'),
         url('../fonts/rh/RaineHorneLight.svg#RaineHorneLight') format('svg');
}
