<div class="interaction_tab">
    <!-- interaction button -->
    <div class="interaction_tab_nav text-center">
        <button type="button" class="cancel-btn btn interaction_btn" (click)="changeTab($event, 1, '')">Site Visit</button>
        <button type="button" (click)="changeTab($event, 2, '')" class="cancel-btn btn interaction_btn">Meeting</button>
        <button type="button" (click)="changeTab($event, 3, '')" class="cancel-btn btn interaction_btn">Call</button>
        <button type="button" (click)="changeTab($event, 4, '')" class="cancel-btn btn interaction_btn">Email</button>
        <button type="button" (click)="changeTab($event, 5, '')" class="cancel-btn btn interaction_btn">SMS</button>
    </div>
    <!-- interaction button -->
    <!-- interaction tab -->
    <mat-tab-group [selectedIndex]="selectedIndex">
        <!-- interaction main tab -->
        <mat-tab label="Interaction">
            <ul class="interaction_lists">
                <li class="each_interaction" *ngFor="let interaction of interactions">
                    <div class="interaction_ico">
                        <img src="assets/images/icons/{{ interaction.icon }}" />
                    </div>
                    <h4>{{ interaction.category }}</h4>
                    <h3>{{ interaction.leadName }}</h3>
                    <p>{{ interaction.notes }}</p>
                    <div class="each_interaction_foot">
                        Created by <br /><span>{{ interaction.agent }}</span> on {{ interaction.createdDate | date:'dd-MM-yyyy' }}
                    </div>
                </li>
            </ul>
        </mat-tab>
        <!-- interaction main tab -->
        <!-- site visit -->
        <mat-tab label="Site Visit">
            <form (submit)="addInteraction('site_visit')">
                <div class="form_wrapper pt-20px">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="javascript:void(0);" class="add_leads"><span [inlineSVG]="'assets/images/icons/plus_ico.svg'"></span>Select an existing Listing</a>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="mat_datepicker" (click)="myDatepicker.open()">
                                <input
                                    matInput
                                    [matDatepicker]="myDatepicker"
                                    placeholder="Date"
                                    readonly
                                    name="visitedDate"
                                    [(ngModel)]="interaction.site_visit.createdDate" />
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select
                                    placeholder="Status"
                                    name="visitedStatus"
                                    [(ngModel)]="interaction.site_visit.status">
                                    <mat-option value="Active">Active</mat-option>
                                    <mat-option value="Inactive">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select
                                    placeholder="Agent"
                                    name="visitedAgent"
                                    [(ngModel)]="interaction.site_visit.agent">
                                    <mat-option value="Praveen Kumar">Praveen Kumar</mat-option>
                                    <mat-option value="Keshab Reddy">Keshab Reddy</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="adress_textarea">
                                <textarea
                                    matInput
                                    placeholder="Notes"
                                    name="visitedNote"
                                    [(ngModel)]="interaction.site_visit.notes"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn cancel-btn" name="button" (click)="changeTab($event, 0, 'interaction_tab_nav')">Cancel</button>
                            <button type="submit" class="btn orange-border-btn save_btn">Add Interaction</button>
                        </div>
                    </div>
                </div> <!-- form_wrapper -->
            </form>
        </mat-tab>
        <!-- site visit -->
        <!-- meeting -->
        <mat-tab label="Meeting">
            <form (submit)="addInteraction('meeting')">
                <div class="form_wrapper pt-20px">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat_datepicker" (click)="myDatepicker1.open()">
                                <input
                                    matInput
                                    [matDatepicker]="myDatepicker1"
                                    placeholder="Date"
                                    readonly
                                    name="meetingDate"
                                    [(ngModel)]="interaction.meeting.createdDate" />
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="adress_textarea">
                                <input
                                    matInput
                                    placeholder="Location"
                                    name="meetingLocation"
                                    [(ngModel)]="interaction.meeting.location" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="adress_textarea">
                                <textarea
                                    matInput
                                    placeholder="Notes"
                                    name="meetingNotes"
                                    [(ngModel)]="interaction.meeting.notes"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn cancel-btn" name="button" (click)="changeTab($event, 0, 'interaction_tab_nav')">Cancel</button>
                            <button type="submit" class="btn orange-border-btn save_btn">Add Interaction</button>
                        </div>
                    </div>
                </div> <!-- form_wrapper -->
            </form>
        </mat-tab>
        <!-- meeting -->
        <!-- call -->
        <mat-tab label="Call">
            <form (submit)="addInteraction('call')">
                <div class="form_wrapper pt-20px">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat_datepicker" (click)="myDatepicker2.open()">
                                <input
                                matInput
                                [matDatepicker]="myDatepicker2"
                                placeholder="Date"
                                readonly
                                name="callDate"
                                [(ngModel)]="interaction.call.createdDate" />
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker2"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker2></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Phone">
                                    <mat-option value="Phone">Phone</mat-option>
                                    <mat-option value="Email">Email</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 pt-12px">
                            <mat-radio-group>
                                <mat-radio-button class="custom_styled_input mr-5px" value="outgoing">Outgoing</mat-radio-button>
                                <mat-radio-button class="custom_styled_input" value="incoming">Incoming</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="adress_textarea">
                                <textarea
                                    matInput
                                    placeholder="Notes"
                                    name="callNote"
                                    [(ngModel)]="interaction.call.notes"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn cancel-btn" name="button" (click)="changeTab($event, 0, 'interaction_tab_nav')">Cancel</button>
                            <button type="submit" class="btn orange-border-btn save_btn">Add Interaction</button>
                        </div>
                    </div>
                </div> <!-- form_wrapper -->
            </form>
        </mat-tab>
        <!-- call -->
        <!-- email -->
        <mat-tab label="Email">
            <form (submit)="addInteraction('email')">
                <div class="form_wrapper pt-20px">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat_datepicker" (click)="myDatepicker3.open()">
                                <input
                                matInput
                                [matDatepicker]="myDatepicker3"
                                placeholder="Date"
                                readonly
                                name="callDate"
                                [(ngModel)]="interaction.email.createdDate" />
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker3"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker3></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Email">
                                    <mat-option value="Phone">Phone</mat-option>
                                    <mat-option value="Email">Email</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 pt-12px">
                            <mat-radio-group>
                                <mat-radio-button class="custom_styled_input mr-5px" value="outgoing">Outgoing</mat-radio-button>
                                <mat-radio-button class="custom_styled_input" value="incoming">Incoming</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="adress_textarea">
                                <textarea
                                    matInput
                                    placeholder="Notes"
                                    name="callNote"
                                    [(ngModel)]="interaction.email.notes"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn cancel-btn" name="button" (click)="changeTab($event, 0, 'interaction_tab_nav')">Cancel</button>
                            <button type="submit" class="btn orange-border-btn save_btn">Add Interaction</button>
                        </div>
                    </div>
                </div> <!-- form_wrapper -->
            </form>
        </mat-tab>
        <!-- email -->
        <!-- sms -->
        <mat-tab label="SMS">
            <form (submit)="addInteraction('sms')">
                <div class="form_wrapper pt-20px">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="mat_datepicker" (click)="myDatepicker4.open()">
                                <input
                                matInput
                                [matDatepicker]="myDatepicker4"
                                placeholder="Date"
                                readonly
                                name="callDate"
                                [(ngModel)]="interaction.sms.createdDate" />
                                <mat-datepicker-toggle matSuffix [for]="myDatepicker4"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker4></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field>
                                <mat-select placeholder="Phone">
                                    <mat-option value="Phone">Phone</mat-option>
                                    <mat-option value="Email">Email</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 pt-12px">
                            <mat-radio-group>
                                <mat-radio-button class="custom_styled_input mr-5px" value="outgoing">Outgoing</mat-radio-button>
                                <mat-radio-button class="custom_styled_input" value="incoming">Incoming</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="col-md-12">
                            <mat-form-field class="adress_textarea">
                                <textarea
                                    matInput
                                    placeholder="Notes"
                                    name="callNote"
                                    [(ngModel)]="interaction.sms.notes"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn cancel-btn" name="button" (click)="changeTab($event, 0, 'interaction_tab_nav')">Cancel</button>
                            <button type="submit" class="btn orange-border-btn save_btn">Add Interaction</button>
                        </div>
                    </div>
                </div> <!-- form_wrapper -->
            </form>
        </mat-tab>
        <!-- sms -->
    </mat-tab-group>
    <!-- interaction tab -->
</div>
